<template name="dashboard">
  <div class="row">
    {{> menuPane}}
  </div>
  <div class="row">
    {{> logsPane}}
  </div>
</template>


<template name="menuPane">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Servers
      <div class="pull-right">
        <span class="glyphicon glyphicon-plus newServer"></span>
        <span class="glyphicon  hidePanel">Hide</span>
      </div>
    </div>
    <div class="panel-body" id="servers-panel-body">
      <div class="row">
        <div class="list-group">
          {{#each serversList}}
            <div class="col-md-3">
              {{> serverItem}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

</template>
