<template name="servers">
  <ul class="serversList">
    {{#each serversList}}
    <li>
      <div class="server">
        <a href="{{pathFor 'server'}}">{{name}}</a>
      </div>
    </li>
    {{/each}}
  </ul>
</template>

<template name="server">
  <div class="server">
    <p>Name: {{name}}</p>
    <ul class="nav nav-tabs">
      {{#each filesArrayWithIndex}}
      <li>
        <a href="#{{this.index}}"  data-toggle="tab" class="serverLog">{{this.file}}</a>
        <button class="btn btn-primary btn-sm">X</button>
      </li>
      {{/each}}
    </ul>
    <div class="tab-content">
      {{#each filesArrayWithIndex}}
        <div class="tab-pane" id="{{this.index}}"></div>
      {{/each}}
    </div>
  </div>

</template>
