<template name="servers">
  <ul class="serversList">
    {{#each serversList}}
    <li>
      <div class="server">
        <a href="{{pathFor 'server'}}">{{name}}</a>
      </div>
    </li>
    {{/each}}
  </ul>
</template>

<template name="server">
  <div class="server">
    <p>Name: {{name}}</p>
    <ul>
      {{#each filesArrayWithIndex}}
      <li>
        <a href="#" class="serverLog">{{this.file}}</a>
        <button class="btn btn-primary btn-sm" id="{{this.index}}">Close</button>
      </li>
      {{/each}}
    </ul>
    <div class="currentLogsDiv">

    </div>
  </div>

</template>
