<template name="header">
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">LogMon</a>
      </div>
      <ul class="nav nav-pills navbar-right">
        {{#if currentUser}}
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="{{pathFor 'newServer'}}">Add Server</a>
        </li>
        {{/if}}
        <li>
          {{> loginButtons}}
        </li>
      </ul>
    </div>
  </div>
</template>